.logindiv{
    width:40%;
    background-color:#f2f2f2 ;


margin:auto;


border-radius: 20px;
font-weight: bolder;

margin-top:100px;

border:0.3px solid transparent;
position: relative;
z-index: 1;
border-radius: 5px;
}
.btn_{
    color :white;
    cursor: pointer;
    font-size: 1rem;
   text-align: center;
   background-color: #1a73e8;
   border:0px;
   border-radius: 10px;
   text-align: center;
   padding:20px;
   margin:auto;
   margin-top:50px;
   margin-bottom:50px;
   display: flex;
   justify-content: center;
}
.btn_:hover{
    color:white;
    background-color:blue;
  }
  .heading{
      text-align: center;
      font-size: 2rem;
      margin-top:50px;
      margin-bottom:5px;
  }
  .subheading{
    text-align: center;
    font-size: 1.5rem;
  
  }
  .logo{
      width:150px;

      display:flex;
      justify-self: center;
      margin:auto;
      margin-top:50px;
  }

  @media only screen and (max-width:1400px)
  {
    .logindiv{
        width:30%;
        background-color:#f2f2f2 ;
    
    width:60%;
    margin:auto;
    
    
    border-radius: 20px;
    font-weight: bolder;
    
    margin-top:100px;
    
    border:0.3px solid transparent;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    }
  }

  @media only screen and (max-width:800px)
  {
    .logindiv{
        width:80%;
        background-color:#f2f2f2 ;
    
    width:60%;
    margin:auto;
    
    
    border-radius: 20px;
    font-weight: bolder;
    
    margin-top:100px;
    
    border:0.3px solid transparent;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    
    }
  }